$bg-root: #fff;
$bg-nav: rgb(27, 62, 75);
$red: rgb(223, 28, 28);
$blue: rgb(28, 171, 223);
$bg-footer: rgb(159, 165, 167);
$scrollbar-track: rgb(231, 227, 227);

$html: #e44d26;
$css: #42a5f5;
$sass: #ec407a;
$js: #ffca28;
$angular: #e53935;
$ts: #0288d1;
$bootstrap: #6610f2;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;